@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-display: block;
  font-family: 'CascadiaMono';
  font-weight: 500;
  src: url('/src/assets/fonts/CascadiaMono-Regular.otf');
}

@font-face {
  font-display: block;
  font-family: 'CascadiaMono';
  font-weight: 400;
  src: url('/src/assets/fonts/CascadiaMono-SemiLight.otf');
}

@font-face {
  font-display: block;
  font-family: 'CascadiaMono';
  font-weight: 300;
  src: url('/src/assets/fonts/CascadiaMono-Light.otf');
}

@theme {
  --breakpoint-emd: 72rem;
  --breakpoint-elg: 88rem;
  --breakpoint-exl: 104rem;

  --color-dusty: #474747;
  --color-dark-dusty: #404040;
  --color-snow: #FBFBFB;
  --color-fuzzy-red: #C6515C;
}

@utility bordered {
  @apply border border-gray-200 rounded;
}

@utility blockable {
  @apply bg-white border-2 border-gray-200 rounded-t-lg;
  @apply dark:bg-dusty border dark:border-gray-500 dark:text-snow;
}

* {
  font-family: CascadiaMono;
  font-weight: 300;
}

body {
  @apply flex flex-col bg-transparent h-screen;

  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

body.dark-theme {
  @apply bg-neutral-800;
}

#root {
  @apply flex-1 flex flex-col overflow-hidden;
}

#charkeeper_app_html {
  overflow: hidden;
}

#charkeeper_app_body {
  overflow-x: hidden;
}

#charkeeper_app_html,
#charkeeper_app_body {
  overscroll-behavior-y: contain; /* Предотвращает перетягивание на iOS */
}

#charkeeper_app_body::-webkit-scrollbar {
  display: none; /* Скрыть скроллбар в Webkit (например, Safari, Chrome) */
}

.modal {
  @apply relative p-4 blockable overflow-y-auto;

  max-width: 90%;
  max-height: 90%;
}

.btn-primary {
  @apply rounded border bg-blue-50 text-blue-600 border-blue-600;
}

.btn-warning {
  @apply rounded border bg-red-50 text-red-400 border-red-400;
}

.btn {
  @apply py-2 px-4 font-medium cursor-pointer;
}

.btn-small {
  @apply py-1 px-1 cursor-pointer;
}

.btn-big {
  @apply py-4 px-6 cursor-pointer text-xl;
}

.table thead tr td {
  @apply uppercase pb-1 text-xs dark:text-snow;
}

.table:not(.no-darks) tbody tr {
  @apply border-b border-gray-200 dark:border-neutral-800;
}

.table.table-top tbody tr {
  @apply align-top;
}

.table:not(.no-darks) tbody tr:nth-of-type(2n) {
  @apply bg-gray-50 dark:bg-neutral-700;
}

.table tbody tr:last-of-type {
  @apply border-0;
}

.table.first-column-full-width tbody tr td:nth-of-type(n+2) {
  @apply px-2;

  width: 1%;
  white-space: nowrap;
}

.levelbox {
  @apply w-6 h-6;
}

.toggle {
  @apply w-6 h-6 border border-blue-400 bg-white rounded flex justify-center items-center cursor-pointer;
  @apply dark:border-fuzzy-red dark:text-dusty;
}

.toggle.checked {
  @apply bg-blue-400 text-snow;
  @apply dark:bg-fuzzy-red dark:text-snow;
}

.toggle.outlined {
  @apply border-dashed;
}

.toggle.small {
  @apply w-4 h-4;
}

.form-field .form-value {
  @apply bordered px-3 leading-8 bg-white text-black;
  @apply dark:bg-neutral-700 dark:border-gray-500 dark:text-snow;
}

.form-field .form-label {
  @apply text-sm text-gray-400;
}

.form-field .form-text {
  @apply bordered py-2 px-4;
}

.form-field select {
  @apply py-2 px-4 rounded;
}

.form-field .form-value::placeholder {
  @apply text-gray-200 opacity-100;
}

.form-field .form-value.is-open {
  @apply rounded-b-none;
}

.form-field .form-dropdown {
  @apply absolute w-full bg-white border-r border-l border-gray-200 z-10 overflow-y-auto shadow;
  @apply dark:bg-neutral-800 dark:border-gray-500;

  max-height: 7.5rem;
}

.form-field .form-dropdown.full {
  max-height: none;
}

.form-field .form-dropdown.relative {
  @apply relative;
}

.form-field .form-dropdown li {
  @apply border-b border-gray-200 m-0 py-2 px-4;
  @apply dark:text-snow dark:border-gray-500;
}

.form-field .form-dropdown li:hover {
  @apply bg-blue-400 text-white;
  @apply dark:bg-dusty dark:text-snow;
}

.form-field .form-dropdown li.selected {
  @apply border-blue-400 dark:border-red-400;
  @apply bg-blue-400 dark:bg-fuzzy-red text-snow;
}

#character-navigation {
  @apply flex justify-between overflow-x-auto bg-white border-b border-gray-200 px-2;
  @apply dark:bg-neutral-800 dark:border-black;
}

#character-navigation::-webkit-scrollbar { 
  display: none; /* Safari and Chrome */
}

#character-navigation p {
  @apply text-xs/6 mx-2 py-2 text-gray-400 cursor-pointer text-nowrap dark:text-gray-300;
}

#character-navigation p.active {
  @apply text-black border-b-2 border-blue-400 dark:text-snow dark:border-fuzzy-red;
}

.alert-box {
  @apply fixed top-4 right-4 z-50;
}

.alert-text {
  @apply relative py-2 px-4 mb-2 rounded text-sm;
}

.alert-text.alert {
  @apply bg-red-400 text-white;
}

.alert-text.notice {
  @apply bg-green-400 text-white;
}

.uneditable-field {
  display: none;
}

.damage-caption {
  @apply flex-1 flex flex-col items-center;
}

.damage-caption p:nth-of-type(1) {
  @apply flex-1 text-center flex items-center uppercase font-medium! dark:text-snow py-4 px-2 text-sm md:text-base;
}

.damage-caption p:nth-of-type(2) {
  @apply text-xs dark:text-snow;
}

.damage-threshold {
  @apply flex items-center pb-4 relative;

  padding-right: 12.5px;
}

.damage-threshold::before {
  @apply absolute right-0 bg-white border border-blue-400 content-[''] rotate-45;

  width: 26.5px;
  height: 26.5px;
}

.dark .damage-threshold::before {
  @apply border-fuzzy-red;
}

.damage-threshold p {
  @apply text-center border border-blue-400 bg-white rounded w-10 py-1 font-normal! text-lg border-r-0 relative z-10;
  @apply dark:border-fuzzy-red dark:text-dusty;
}

.dc20-points-caption {
  @apply flex-1 flex flex-col items-center;
}

.dc20-points-caption p:nth-of-type(1) {
  @apply flex-1 text-center flex items-center uppercase font-medium! dark:text-snow sm:py-4 px-2 mb-2 sm:mb-0;
}

.dc20-points-caption p:nth-of-type(2) {
  @apply text-sm dark:text-snow sm:h-4 mb-2 sm:mb-0;
}

.dc20-points-convert {
  @apply flex items-center justify-center sm:justify-start pb-4 relative cursor-pointer mb-4 sm:mb-0;

  padding-right: 11px;
}

.dc20-points-convert::before {
  @apply absolute sm:bottom-auto! sm:right-0 bg-white border border-blue-400 content-[''] rotate-45;

  width: 22px;
  height: 22px;
  bottom: 5px;
}

.dark .dc20-points-convert::before {
  @apply border-fuzzy-red;
}

.dc20-points-convert p {
  @apply text-center border border-blue-400 bg-white w-8 h-8 py-1 font-normal! text-sm border-b-0 sm:border-b-1 sm:border-r-0 relative z-10;
  @apply dark:border-fuzzy-red dark:text-dusty;
}

.experiences .experience {
  @apply flex dark:text-snow items-center pl-2 py-1;
}

.experiences .experience:nth-of-type(2n) {
  @apply bg-gray-50 dark:bg-neutral-700;
}

.truncate-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Specifies the number of lines to display */
  overflow: hidden;
  text-overflow: ellipsis; /* Adds an ellipsis (...) at the end of the truncated text */
}

.warning {
  @apply bg-blue-200 rounded p-4 mb-2;
}

.dice-button {
  @apply py-1 px-2 text-center cursor-pointer border border-dusty rounded dark:border-snow dark:text-snow;
}

.tag {
  @apply px-1 border rounded bg-white border-gray-500 cursor-pointer;
  @apply dark:bg-neutral-800 dark:border-neutral-800 dark:text-snow;
}

.dots-item {
  @apply px-2 py-1 text-sm bg-white hover:bg-gray-200 cursor-pointer;
  @apply dark:bg-dusty dark:hover:bg-neutral-800;
}

.feat-markdown {
  @apply text-sm text-stone-800;
  @apply dark:text-stone-200;
}

.feat-markdown strong {
  @apply text-[15px] text-black;
  @apply dark:text-snow;

  font-weight: 500;
}

.feat-markdown ul {
  @apply list-disc pl-4;
}

.roll-result {
  @apply px-1 py-0.5 rounded text-xs uppercase ml-1 font-medium!;
}

.roll-result.crit_success {
  background: #16A34A;
}

.roll-result.crit_failure {
  background: #DC2626;
}

.roll-result.with_hope {
  background: #C28D23;
}

.roll-result.with_fear {
  background: #2362C2;
}

.bonus {
  @apply bg-gray-200 p-1 rounded text-sm;
  @apply dark:bg-neutral-800 dark:text-snow;
}

.spinner {
  border: 4px solid #f3f3f3; /* Light grey background */
  border-top: 4px solid #57534e; /* Blue top border (the spinning part) */
  border-radius: 50%; /* Makes the div a circle */
  width: 28px;
  height: 28px;
  animation: spin 2s linear infinite; /* Applies the animation */
}
