@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-display: block;
  font-family: 'CascadiaMono';
  font-weight: 500;
  src: url('/src/assets/fonts/CascadiaMono-Regular.otf');
}

@font-face {
  font-display: block;
  font-family: 'CascadiaMono';
  font-weight: 400;
  src: url('/src/assets/fonts/CascadiaMono-SemiLight.otf');
}

@font-face {
  font-display: block;
  font-family: 'CascadiaMono';
  font-weight: 300;
  src: url('/src/assets/fonts/CascadiaMono-Light.otf');
}

@theme {
  --breakpoint-emd: 72rem;
  --breakpoint-elg: 88rem;
  --breakpoint-exl: 104rem;

  --color-dusty: #474747;
  --color-dark-dusty: #404040;
  --color-snow: #FBFBFB;
  --color-fuzzy-red: #C6515C;
}

@utility bordered {
  @apply border border-gray-200 rounded;
}

@utility blockable {
  @apply bg-white border-2 border-gray-200 rounded-t-lg;
  @apply dark:bg-dusty border dark:border-gray-500 dark:text-snow;
}

* {
  font-family: CascadiaMono;
  font-weight: 300;
}

body {
  @apply flex flex-col bg-transparent h-screen;

  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

body.dark-theme {
  @apply bg-neutral-800;
}

#root {
  @apply flex-1 flex flex-col overflow-hidden;
}

#charkeeper_app_html {
  overflow: hidden;
}

#charkeeper_app_body {
  overflow-x: hidden;
}

#charkeeper_app_html,
#charkeeper_app_body {
  overscroll-behavior-y: contain; /* Предотвращает перетягивание на iOS */
}

#charkeeper_app_body::-webkit-scrollbar {
  display: none; /* Скрыть скроллбар в Webkit (например, Safari, Chrome) */
}

.modal {
  @apply relative p-4 blockable overflow-y-auto;

  max-width: 90%;
  max-height: 90%;
}

.btn-primary {
  @apply rounded border bg-blue-50 text-blue-600 border-blue-600;
}

.btn-warning {
  @apply rounded border bg-red-50 text-red-400 border-red-400;
}

.btn {
  @apply py-2 px-4 font-medium cursor-pointer;
}

.btn-small {
  @apply py-1 px-1 cursor-pointer;
}

.btn-big {
  @apply py-4 px-6 cursor-pointer text-xl;
}

.table thead tr td {
  @apply uppercase pb-1 text-xs dark:text-snow;
}

.table:not(.no-darks) tbody tr {
  @apply border-b border-gray-200 dark:border-neutral-800;
}

.table.table-top tbody tr {
  @apply align-top;
}

.table:not(.no-darks) tbody tr:nth-of-type(2n) {
  @apply bg-gray-50 dark:bg-neutral-700;
}

.table tbody tr:last-of-type {
  @apply border-0;
}

.table.first-column-full-width tbody tr td:nth-of-type(n+2) {
  @apply px-2;

  width: 1%;
  white-space: nowrap;
}

.levelbox {
  @apply w-6 h-6;
}

.toggle {
  @apply w-6 h-6 border border-blue-400 bg-white rounded flex justify-center items-center cursor-pointer;
  @apply dark:border-fuzzy-red dark:text-dusty;
}

.toggle.checked {
  @apply bg-blue-400 text-snow;
  @apply dark:bg-fuzzy-red dark:text-snow;
}

.toggle.outlined {
  @apply border-dashed;
}

.toggle.small {
  @apply w-4 h-4;
}

.toggle.big {
  @apply w-8 h-8;
}

.toggle-title {
  @apply py-2 px-2 md:px-4; dark:text-snow;
}

.toggle.disabled {
  @apply bg-neutral-300;
}

.toggle-inner {
  @apply py-4 px-2 md:px-4 border-t border-gray-200 dark:border-gray-500;
}

.toggle-inner-default {
  @apply flex-1 dark:text-snow relative dark:bg-neutral-700;
}

.form-field .form-value {
  @apply bordered px-3 leading-8 bg-white text-black;
  @apply dark:bg-neutral-700 dark:border-gray-500 dark:text-snow;
}

.form-field .form-label {
  @apply text-sm text-gray-400;
}

.form-field .form-text {
  @apply bordered py-2 px-4;
}

.form-field select {
  @apply py-2 px-4 rounded;
}

.form-field .form-value::placeholder {
  @apply text-gray-200 opacity-100;
}

.form-field .form-value.is-open {
  @apply rounded-b-none;
}

.form-field .form-dropdown {
  @apply absolute z-10 w-full bg-white border-r border-l border-b border-gray-200 overflow-y-auto shadow;
  @apply dark:bg-neutral-800 dark:border-gray-500;

  max-height: 9rem;
}

.form-field .form-dropdown.full {
  max-height: none;
}

.form-field .form-dropdown.relative {
  @apply relative;
}

.form-field .form-dropdown li {
  @apply border-b border-gray-200 m-0 py-2 px-4;
  @apply dark:text-snow dark:border-gray-500;
}

.form-field .form-dropdown li:last-of-type {
  @apply border-none;
}

.form-field .form-dropdown li:hover {
  @apply bg-blue-400 text-white;
  @apply dark:bg-dusty dark:text-snow;
}

.form-field .form-dropdown li.selected {
  @apply border-blue-400 dark:border-red-400;
  @apply bg-blue-400 dark:bg-fuzzy-red text-snow;
}

#character-navigation {
  @apply flex justify-between overflow-x-auto bg-white border-b border-gray-200 px-2;
  @apply dark:bg-neutral-800 dark:border-black;
}

#character-navigation::-webkit-scrollbar { 
  display: none; /* Safari and Chrome */
}

#character-navigation p {
  @apply text-xs/6 mx-2 py-2 text-gray-400 cursor-pointer text-nowrap dark:text-gray-300;
}

#character-navigation p.active {
  @apply text-black border-b-2 border-blue-400 dark:text-snow dark:border-fuzzy-red;
}

.alert-box {
  @apply fixed top-4 right-4 z-50;
}

.alert-text {
  @apply relative py-2 px-4 mb-2 rounded text-sm;
}

.alert-text.alert {
  @apply bg-red-400 text-white;
}

.alert-text.notice {
  @apply bg-green-400 text-white;
}

.uneditable-field {
  display: none;
}

.damage-caption {
  @apply flex-1 flex flex-col items-center;
}

.damage-caption p:nth-of-type(1) {
  @apply flex-1 text-center flex items-center uppercase font-medium! p-2 pt-4 text-sm md:text-base;
}

.damage-caption p:nth-of-type(2) {
  @apply text-xs;
}

.damage-threshold {
  @apply flex items-center pb-2 relative;

  padding-right: 12.5px;
}

.damage-threshold::before {
  @apply absolute right-0 bg-white border border-blue-400 content-[''] rotate-45;

  width: 26.5px;
  height: 26.5px;
}

.dark .damage-threshold::before {
  @apply border-fuzzy-red;
}

.damage-threshold p {
  @apply text-center border border-blue-400 bg-white rounded w-10 py-1 font-normal! text-lg border-r-0 relative z-10;
  @apply dark:border-fuzzy-red dark:text-dusty;
}

.dc20-skill-box {
  @apply blockable p-4 pb-8 mb-2;
}

.dc20-skill-box-title {
  @apply text-lg mb-2;
}

.dc20-skill-converter {
  @apply flex items-center justify-between text-sm mb-2;
}

.experience-title-box {
  @apply flex justify-between items-center;
}

.experience-title {
  @apply flex-1 text-lg dark:text-snow;
}

.experience-new-box {
  @apply flex items-center gap-2;
}

.experience {
  @apply flex dark:text-snow items-center py-1;
}

.experience:nth-of-type(2n) {
  @apply bg-gray-50 dark:bg-dusty;
}

.experience:nth-of-type(n+2) {
  @apply border-t border-gray-200 dark:border-neutral-800;
}

.dc20-conditions .dc20-condition {
  @apply flex flex-col dark:text-snow p-2;
}

.dc20-conditions .dc20-condition:nth-of-type(2n) {
  @apply bg-gray-50 dark:bg-dusty;
}

.dc20-condition-data {
  @apply flex items-center;
}

.truncate-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Specifies the number of lines to display */
  overflow: hidden;
  text-overflow: ellipsis; /* Adds an ellipsis (...) at the end of the truncated text */
}

.warning {
  @apply bg-blue-200 rounded p-4 mb-2;
}

.dice-button {
  @apply py-1 px-2 text-center cursor-pointer border border-dusty rounded dark:border-snow dark:text-snow;
}

.tag {
  @apply px-1 border rounded bg-white border-gray-500 cursor-pointer text-sm md:text-base;
  @apply dark:bg-neutral-800 dark:border-neutral-800 dark:text-snow;
}

.dots {
  @apply absolute z-9 right-0 border border-gray-200 rounded overflow-hidden;
}

.dots-item {
  @apply px-2 py-1 text-sm bg-white hover:bg-gray-200 cursor-pointer;
  @apply dark:bg-dusty dark:hover:bg-neutral-800;
}

.feat-markdown {
  @apply text-sm text-stone-800;
  @apply dark:text-stone-200;
}

.feat-markdown p {
  @apply mb-1;
}

.feat-markdown strong {
  @apply text-[15px] text-black;
  @apply dark:text-snow;

  font-weight: 500;
}

.feat-markdown ul {
  @apply list-disc pl-4;
}

.roll-result {
  @apply px-1 py-0.5 rounded text-xs uppercase ml-1 font-medium!;
}

.roll-result.crit_success {
  background: #16A34A;
}

.roll-result.crit_failure {
  background: #DC2626;
}

.roll-result.with_hope {
  background: #C28D23;
}

.roll-result.with_fear {
  background: #2362C2;
}

.bonus {
  @apply bg-gray-200 p-1 rounded text-sm;
  @apply dark:bg-neutral-800 dark:text-snow;
}

.spinner {
  border: 4px solid #f3f3f3; /* Light grey background */
  border-top: 4px solid #57534e; /* Blue top border (the spinning part) */
  border-radius: 50%; /* Makes the div a circle */
  width: 28px;
  height: 28px;
  animation: spin 2s linear infinite; /* Applies the animation */
}

.dnd2024-spell {
  @apply cursor-pointer;
}

.dnd2024-spell-header {
  @apply flex items-center justify-between;
}

.dnd2024-spell-titlebox {
  @apply flex items-center;
}

.dnd2024-spell-title {
  @apply uppercase cursor-pointer mr-4;
}

.dnd2024-spell-tooltips {
  @apply grid grid-cols-3 sm:grid-cols-6 gap-y-2 text-sm mt-2;
}

.spell-attribute {
  @apply flex-1 flex justify-center items-center dark:border-r dark:border-neutral-800;
}

.spell-attribute:nth-of-type(3), .spell-attribute:nth-of-type(6) {
  @apply border-r-0 sm:border-r-1;
}

.spell-attribute:last-of-type {
  @apply sm:border-r-0;
}

.character-info-block {
  @apply blockable py-4 px-2 md:px-4;
}

.character-info-title {
  @apply text-lg;
}

.character-info-grid {
  @apply grid grid-cols-2 gap-x-2 md:grid-cols-3 md:gap-x-4 gap-y-2;
}

.character-info-text {
  @apply text-[11px]! uppercase;
}

.stat-title {
  @apply uppercase text-sm mb-2 text-center;
}

.dc20-stat-value-box {
  @apply mx-auto flex items-center justify-center;
}

.dc20-stat-value {
  @apply text-2xl font-normal! leading-10;
}

.weapon-title {
  @apply text-lg font-normal! mb-2;
}

.weapon-item {
  @apply p-0.5;
}

.weapon-item:nth-of-type(n+2) {
  @apply border-t border-gray-200 dark:border-neutral-800;
}

.weapon-item:nth-of-type(2n) {
  @apply bg-gray-50 dark:bg-neutral-700;
}

.weapon-item-header {
  @apply flex flex-col md:flex-row md:justify-between md:items-center gap-y-1;
}

.weapon-item-name {
  @apply line-clamp-1 text-sm md:text-base;
}

.weapon-item-stats {
  @apply flex items-center gap-x-4;
}

.weapon-damage {
  @apply flex items-center justify-center;
}

.weapon-damage-trait {
  @apply mr-2 text-sm uppercase;
}

.weapon-tags {
  @apply flex flex-wrap gap-x-2 gap-y-1 mt-2;
}

.weapon-features {
  @apply text-xs mt-2;
}

.weapon-settings {
  @apply absolute top-0 right-0 rounded opacity-50 m-0!;
}

.weapon-settings-select {
  @apply w-full md:w-1/2 mb-2;
}

.equipment {
  @apply blockable px-2 py-4 md:px-4 mb-2;
}

.equipment-title {
  @apply text-lg mb-2 flex items-center gap-x-2;
}

.equipment-subtitle {
  @apply text-sm mb-2;
}

.equipment-item {
  @apply flex p-0.5;
}

.equipment-item:nth-of-type(n+2) {
  @apply border-t border-gray-200 dark:border-neutral-800;
}

.equipment-item:nth-of-type(2n) {
  @apply bg-gray-50 dark:bg-neutral-700;
}

.equipment-item-name {
  @apply leading-6 line-clamp-1;
}

.equipment-item-notes {
  @apply text-xs mt-1 text-stone-800 dark:text-stone-300;
}

.hybrid-edit-block {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 mt-2;
}

.domain-cards {
  @apply blockable px-2 md:px-4 py-4 mb-2;
}

.domain-card {
  @apply even:bg-stone-100 dark:even:bg-dark-dusty p-1;
}

.domain-card:nth-of-type(n+2) {
  @apply border-t border-gray-200 dark:border-neutral-800;
}

.domain-card.reverse {
  @apply even:bg-stone-100 dark:even:bg-dusty p-1;
}

.domain-card-title {
  @apply flex items-center justify-between mb-2;
}

.domain-card-actions {
  @apply flex flex-row items-center justify-end gap-y-4 gap-x-2;
}

.domain-card-recall-cost {
  @apply px-1 text-center font-normal! text-lg;
}

.domain-card-desc {
  @apply text-xs mb-1 sm:text-sm;
}

.dh-static-box {
  @apply blockable py-4 px-2 md:px-4 grid grid-cols-2 md:grid-cols-4 gap-x-2 gap-y-4;
}

.dh-static-title {
  @apply text-sm uppercase text-center mb-4;
}

.dh-static-value {
  @apply mx-auto flex items-center justify-center text-2xl font-normal!;
}

.dh-attribute-title {
  @apply text-sm/4 uppercase mb-1;
}

.select-input {
  @apply outline-none w-full;
}

.select-input::placeholder {
  @apply text-gray-200 opacity-100 text-sm;
}

.default-input {
  @apply w-full h-12 px-2 border border-gray-200 bg-white rounded;
  @apply dark:bg-neutral-700 dark:border-gray-500 dark:text-snow;
}

.default-label {
  @apply text-sm/4 text-gray-400 dark:text-gray-200 flex-1;
}

.default-select {
  @apply flex justify-between items-center h-12;
}

.default-icon-button {
  @apply flex justify-center items-center cursor-pointer rounded-full hover:bg-gray-100 dark:hover:bg-gray-400;
}

.default-button {
  @apply rounded cursor-pointer flex justify-center items-center font-normal!;
}

.default-button-size {
  @apply min-h-10 min-w-10;
}

.medium-button-size {
  @apply min-h-8 min-w-8;
}

.small-button-size {
  @apply min-h-6 min-w-6 text-sm;
}

.default-button-color {
  @apply bg-blue-400 text-snow dark:bg-fuzzy-red;
}

.outlined-button-color {
  @apply bg-white text-blue-400 border border-blue-400 dark:text-black dark:border-fuzzy-red;
}

.character-item {
  @apply p-4 pb-0 pr-0 flex items-center cursor-pointer relative;
}

.character-item-not-active {
  @apply bg-white hover:bg-gray-100 dark:bg-neutral-800 dark:hover:bg-dusty;
}

.character-item-active {
  @apply bg-blue-400 dark:bg-fuzzy-red;
}

.avatar-block {
  @apply mr-3 pb-4 dark:text-snow;
}

.avatar {
  @apply w-16 h-16 rounded;
}

.character-item-dots {
  @apply relative h-16 dark:text-snow;
}

.character-item-dots-dropdown {
  @apply absolute z-9 right-0 border border-gray-200 rounded overflow-hidden;
}

.character-item-name {
  @apply font-normal! text-lg dark:text-snow;
}

.character-item-first-text {
  @apply text-xs/4 text-gray-400 dark:text-gray-300;
}

.character-item-second-text {
  @apply text-xs/4 text-gray-400 dark:text-gray-300;
}

.character-item-box {
  @apply flex-1 flex pb-4 pr-4;
}

.character-item-box-active {
  @apply border-b border-blue-400 dark:border-fuzzy-red;
}

.character-item-box-not-active {
  @apply border-b border-gray-200 dark:border-dusty;
}

.dc20-skill {
  @apply flex items-center p-1;
  @apply even:bg-stone-100 even:dark:bg-dark-dusty;
}

.dc20-skill:nth-of-type(n+2) {
  @apply border-t border-gray-200 dark:border-neutral-800;
}

.fallout-skills {
  @apply grid grid-cols-1 sm:grid-cols-2 gap-x-8 mt-2;
}

.fallout-skill {
  @apply flex items-center p-1;
}

.fallout-skill-actions {
  @apply flex items-center gap-x-2;
}

@media (width < 48rem) {
  .fallout-skill:nth-child(2n+1) {
    @apply bg-stone-100 dark:bg-dark-dusty md:bg-none;
  }

  .fallout-skill:nth-of-type(n+2) {
    @apply border-t border-gray-200 dark:border-neutral-800;
  }
}

@media (width >= 48rem) {
  .fallout-skill:nth-child(4n+3), .fallout-skill:nth-child(4n+4) {
    @apply md:bg-stone-100 md:dark:bg-dark-dusty;
  }

  .fallout-skill:nth-of-type(n+3) {
    @apply border-t border-gray-200 dark:border-neutral-800;
  }
}

.dice-text-box {
  @apply absolute top-0 left-0 w-full h-full flex justify-center items-center;
}

.dc20-ability-title {
  @apply text-sm uppercase text-center mb-2 dark:text-white;
}

.dc20-ability {
  @apply mx-auto flex items-center justify-center;
}

.dc20-ability-savebox {
  @apply absolute -bottom-2 -right-6;
}

.ancestry-item {
  @apply even:bg-stone-100 dark:even:bg-dusty p-1;
}

.ancestry-item:nth-of-type(n+2) {
  @apply border-t border-gray-200 dark:border-neutral-800;
}

.pdf-buttons {
  @apply fixed top-4 left-4 right-8 flex flex-col sm:flex-row items-start sm:justify-between gap-4;
}

.pdf-button {
  @apply rounded bg-blue-400 text-snow dark:bg-fuzzy-red px-2 py-1 cursor-pointer;
}

.abilities-box {
  @apply grid grid-cols-3 emd:grid-cols-6 elg:grid-cols-3 exl:grid-cols-6 gap-x-2 gap-y-4;
}

.ability-title {
  @apply text-sm uppercase text-center mb-2;
}

.ability-value-box {
  @apply mx-auto flex items-center justify-center;
}

.ability-value {
  @apply text-2xl font-normal!;
}

.ability-changebox {
  @apply mt-2 flex justify-center gap-2;
}
